<style>
    .site-footer {
      background-color: #101011;
      padding: 50px 0;
  }
  
  .site-footer h3 {
      color: #ffffff;
  }
  
  .site-footer p {
      color: #ffffff;
  }
  
  .site-footer ul {
      list-style: none;
      padding: 0;
  }
  
  .site-footer ul li {
      margin-bottom: 10px;
  }
  
  .site-footer ul li a {
      color: #ffffff;
  }
  
  .site-footer ul li a:hover {
      color: #ffffff;
  }
  
  </style>
  <footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>Welcome to Smart Store, where we strive to provide an exceptional shopping experience by offering high-quality products, excellent customer service, and innovative solutions to meet all your needs. At Smart Store, we are dedicated to helping you make smarter choices while enjoying the convenience of online shopping</p>
            </div>
            <div class="col-md-4">
                <h3>Quick Links</h3>
                <ul class="list-unstyled">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/productList">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Connect With Us</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
  </footer>
  
  
    
    
    
    
    
    <!-- Le javascript
    ================================================== -->
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery/jquery-2.1.3.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script>
        // this script required for subscribe modal
        $(window).load(function () {
            // full load
            $('#modalAds').modal('show');
            $('#modalAds').removeClass('hide');
        });
    
    </script>
    
    <!-- include jqueryCycle plugin -->
    <script src="../assets/js/jquery.cycle2.min.js"></script>
    
    <!-- include easing plugin -->
    <script src="../assets/js/jquery.easing.1.3.js"></script>
    
    <!-- include  parallax plugin -->
    <script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>
    
    <!-- optionally include helper plugins -->
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
    
    <!-- include mCustomScrollbar plugin //Custom Scrollbar  -->
    
    <script type="text/javascript" src="../assets/js/jquery.mCustomScrollbar.js"></script>
    
    <!-- include icheck plugin // customized checkboxes and radio buttons   -->
    <script type="text/javascript" src="../assets/plugins/icheck-1.x/icheck.min.js"></script>
    
    <!-- include grid.js // for equal Div height  -->
    <script src="../assets/plugins/jquery-match-height-master/dist/jquery.matchHeight-min.js"></script>
    <script src="../assets/js/grids.js"></script>
    
    <!-- include carousel slider plugin  -->
    <script src="../assets/js/owl.carousel.min.js"></script>
    
    <!-- jQuery select2 // custom select   -->
    <script src="../../../../cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    
    <!-- include touchspin.js // touch friendly input spinner component   -->
    <script src="../assets/js/bootstrap.touchspin.js"></script>
    
    <!-- include custom script for only homepage  -->
    <script src="../assets/js/home.js"></script>
    <!-- include custom script for site  -->
    <script src="../assets/js/script.js"></script>
    <script>
    
    </script>
    </body>
    
    <!-- Mirrored from templatecycle.com/tshop/v6/gray/index-logged-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 06:54:30 GMT -->
    </html>
    